--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: ruben
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO ruben;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: ruben
--

COMMENT ON SCHEMA public IS '';


--
-- Name: role_enum; Type: TYPE; Schema: public; Owner: ruben
--

CREATE TYPE public.role_enum AS ENUM (
    'admin',
    'user'
);


ALTER TYPE public.role_enum OWNER TO ruben;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO ruben;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public.categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.categories OWNER TO ruben;

--
-- Name: comments; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public.comments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    model_id uuid NOT NULL,
    parent_comment_id uuid,
    content text NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.comments OWNER TO ruben;

--
-- Name: downloads; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public.downloads (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    model_id uuid NOT NULL,
    ip_address character varying(45),
    user_agent text,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.downloads OWNER TO ruben;

--
-- Name: favorites; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public.favorites (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    model_id uuid NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.favorites OWNER TO ruben;

--
-- Name: followers; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public.followers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    follower_id uuid NOT NULL,
    followed_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.followers OWNER TO ruben;

--
-- Name: model_category; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public.model_category (
    model_id uuid NOT NULL,
    category_id uuid NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.model_category OWNER TO ruben;

--
-- Name: model_images; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public.model_images (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    model_id uuid NOT NULL,
    image_url text NOT NULL,
    display_order integer DEFAULT 0,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.model_images OWNER TO ruben;

--
-- Name: model_likes; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public.model_likes (
    user_id uuid NOT NULL,
    model_id uuid NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.model_likes OWNER TO ruben;

--
-- Name: model_parts; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public.model_parts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    model_id uuid NOT NULL,
    color character varying(7),
    part_name character varying(255) NOT NULL,
    file_url text NOT NULL,
    file_size bigint,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.model_parts OWNER TO ruben;

--
-- Name: model_tag; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public.model_tag (
    model_id uuid NOT NULL,
    tag_id uuid NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.model_tag OWNER TO ruben;

--
-- Name: models; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public.models (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    title character varying(255) NOT NULL,
    main_color character varying(7),
    description text,
    file_url text NOT NULL,
    main_image_url text,
    video_url text,
    license character varying(50) DEFAULT 'All Rights Reserved'::character varying,
    downloads integer DEFAULT 0,
    views integer DEFAULT 0,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.models OWNER TO ruben;

--
-- Name: pgmigrations; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public.pgmigrations (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    run_on timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.pgmigrations OWNER TO ruben;

--
-- Name: pgmigrations_id_seq; Type: SEQUENCE; Schema: public; Owner: ruben
--

CREATE SEQUENCE public.pgmigrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pgmigrations_id_seq OWNER TO ruben;

--
-- Name: pgmigrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ruben
--

ALTER SEQUENCE public.pgmigrations_id_seq OWNED BY public.pgmigrations.id;


--
-- Name: profiles; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public.profiles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    username character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    lastname character varying(100),
    avatar character varying(500),
    bio text,
    location character varying(100),
    youtube character varying(255),
    twitter character varying(100),
    linkedin character varying(100),
    github character varying(100),
    banner_url character varying(500),
    card_bg_color character varying(7) DEFAULT '#ffffff'::character varying,
    page_bg_url character varying(500),
    badge_url character varying(500),
    primary_color character varying(7) DEFAULT '#3b82f6'::character varying,
    followers_count integer DEFAULT 0 NOT NULL,
    following_count integer DEFAULT 0 NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.profiles OWNER TO ruben;

--
-- Name: tags; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public.tags (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(50) NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.tags OWNER TO ruben;

--
-- Name: users; Type: TABLE; Schema: public; Owner: ruben
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text NOT NULL,
    role public.role_enum DEFAULT 'user'::public.role_enum NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO ruben;

--
-- Name: pgmigrations id; Type: DEFAULT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.pgmigrations ALTER COLUMN id SET DEFAULT nextval('public.pgmigrations_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: ruben
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: ruben
--



--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: ruben
--

COPY public.comments (id, user_id, model_id, parent_comment_id, content, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: downloads; Type: TABLE DATA; Schema: public; Owner: ruben
--



--
-- Data for Name: favorites; Type: TABLE DATA; Schema: public; Owner: ruben
--



--
-- Data for Name: followers; Type: TABLE DATA; Schema: public; Owner: ruben
--



--
-- Data for Name: model_category; Type: TABLE DATA; Schema: public; Owner: ruben
--



--
-- Data for Name: model_images; Type: TABLE DATA; Schema: public; Owner: ruben
--

COPY public.model_images (id, model_id, image_url, display_order, created_at) FROM stdin;
05ced890-273a-4cfa-8205-a5f42438bd4e	b4fdf32c-a3b6-4a17-82e0-61661e6c93bb	/uploads/models/2710f0fe-1a91-4bfa-bdec-5f8c7087c4b8/1778600794911/gallery/20260509_OHR.SkradinskiBuk_ES-ES0276988985_UHD_bing.jpg	0	2026-05-12 15:46:35.598
7bcee8a2-c848-4702-8d68-58d558a38104	031b0b27-88ef-4a4b-9cd2-6f294a8282b4	/uploads/models/89239dae-72e8-45f8-9cf5-3ea969e1232c/1779973374580/gallery/OBTQ.jpg	0	2026-05-28 13:02:55.884
\.


--
-- Data for Name: model_likes; Type: TABLE DATA; Schema: public; Owner: ruben
--



--
-- Data for Name: model_parts; Type: TABLE DATA; Schema: public; Owner: ruben
--



--
-- Data for Name: model_tag; Type: TABLE DATA; Schema: public; Owner: ruben
--

COPY public.model_tag (model_id, tag_id, created_at) FROM stdin;
b4fdf32c-a3b6-4a17-82e0-61661e6c93bb	33286765-9382-40ba-a17b-d2fd491b1b44	2026-05-12 15:46:35.649
b4fdf32c-a3b6-4a17-82e0-61661e6c93bb	0224b8ba-e60b-4645-8c3d-4074dcf03e21	2026-05-12 15:46:35.649
031b0b27-88ef-4a4b-9cd2-6f294a8282b4	3ea095d9-ca09-45bb-80a0-5cf3e6ed216c	2026-05-28 14:30:18.783
db0f5cef-e450-42d3-a786-8a7962c87cdf	e16d7320-1abc-42fc-b2d1-38c5ec531c4a	2026-05-28 16:21:13.034
\.


--
-- Data for Name: models; Type: TABLE DATA; Schema: public; Owner: ruben
--



--
-- Data for Name: pgmigrations; Type: TABLE DATA; Schema: public; Owner: ruben
--

COPY public.pgmigrations (id, name, run_on) FROM stdin;
\.


--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: ruben
--



--
-- Data for Name: tags; Type: TABLE DATA; Schema: public; Owner: ruben
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: ruben
--



--
-- Name: pgmigrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ruben
--

SELECT pg_catalog.setval('public.pgmigrations_id_seq', 1, false);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: downloads downloads_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.downloads
    ADD CONSTRAINT downloads_pkey PRIMARY KEY (id);


--
-- Name: favorites favorites_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_pkey PRIMARY KEY (id);


--
-- Name: followers followers_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.followers
    ADD CONSTRAINT followers_pkey PRIMARY KEY (id);


--
-- Name: model_category model_category_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.model_category
    ADD CONSTRAINT model_category_pkey PRIMARY KEY (model_id, category_id);


--
-- Name: model_images model_images_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.model_images
    ADD CONSTRAINT model_images_pkey PRIMARY KEY (id);


--
-- Name: model_likes model_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.model_likes
    ADD CONSTRAINT model_likes_pkey PRIMARY KEY (user_id, model_id);


--
-- Name: model_parts model_parts_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.model_parts
    ADD CONSTRAINT model_parts_pkey PRIMARY KEY (id);


--
-- Name: model_tag model_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.model_tag
    ADD CONSTRAINT model_tag_pkey PRIMARY KEY (model_id, tag_id);


--
-- Name: models models_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.models
    ADD CONSTRAINT models_pkey PRIMARY KEY (id);


--
-- Name: pgmigrations pgmigrations_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.pgmigrations
    ADD CONSTRAINT pgmigrations_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: tags tags_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT tags_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: categories_name_key; Type: INDEX; Schema: public; Owner: ruben
--

CREATE UNIQUE INDEX categories_name_key ON public.categories USING btree (name);


--
-- Name: favorites_user_id_model_id_key; Type: INDEX; Schema: public; Owner: ruben
--

CREATE UNIQUE INDEX favorites_user_id_model_id_key ON public.favorites USING btree (user_id, model_id);


--
-- Name: followers_user_id_follower_id_key; Type: INDEX; Schema: public; Owner: ruben
--

CREATE UNIQUE INDEX followers_user_id_follower_id_key ON public.followers USING btree (user_id, follower_id);


--
-- Name: idx_comments_model_id; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_comments_model_id ON public.comments USING btree (model_id);


--
-- Name: idx_comments_user_id; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_comments_user_id ON public.comments USING btree (user_id);


--
-- Name: idx_downloads_model_id; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_downloads_model_id ON public.downloads USING btree (model_id);


--
-- Name: idx_downloads_user_id; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_downloads_user_id ON public.downloads USING btree (user_id);


--
-- Name: idx_favorites_model_id; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_favorites_model_id ON public.favorites USING btree (model_id);


--
-- Name: idx_favorites_user_id; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_favorites_user_id ON public.favorites USING btree (user_id);


--
-- Name: idx_followers_follower_id; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_followers_follower_id ON public.followers USING btree (follower_id);


--
-- Name: idx_followers_user_id; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_followers_user_id ON public.followers USING btree (user_id);


--
-- Name: idx_model_category_category_id; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_model_category_category_id ON public.model_category USING btree (category_id);


--
-- Name: idx_model_images_model_id; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_model_images_model_id ON public.model_images USING btree (model_id);


--
-- Name: idx_model_likes_model_id; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_model_likes_model_id ON public.model_likes USING btree (model_id);


--
-- Name: idx_model_likes_user_id; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_model_likes_user_id ON public.model_likes USING btree (user_id);


--
-- Name: idx_model_parts_model_id; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_model_parts_model_id ON public.model_parts USING btree (model_id);


--
-- Name: idx_model_tag_tag_id; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_model_tag_tag_id ON public.model_tag USING btree (tag_id);


--
-- Name: idx_models_created_at; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_models_created_at ON public.models USING btree (created_at DESC);


--
-- Name: idx_models_user_id; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX idx_models_user_id ON public.models USING btree (user_id);


--
-- Name: profiles_followers_count_idx; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX profiles_followers_count_idx ON public.profiles USING btree (followers_count DESC);


--
-- Name: profiles_user_id_key; Type: INDEX; Schema: public; Owner: ruben
--

CREATE UNIQUE INDEX profiles_user_id_key ON public.profiles USING btree (user_id);


--
-- Name: profiles_username_idx; Type: INDEX; Schema: public; Owner: ruben
--

CREATE INDEX profiles_username_idx ON public.profiles USING btree (username);


--
-- Name: profiles_username_key; Type: INDEX; Schema: public; Owner: ruben
--

CREATE UNIQUE INDEX profiles_username_key ON public.profiles USING btree (username);


--
-- Name: tags_name_key; Type: INDEX; Schema: public; Owner: ruben
--

CREATE UNIQUE INDEX tags_name_key ON public.tags USING btree (name);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: ruben
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: comments comments_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: comments comments_parent_comment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_parent_comment_id_fkey FOREIGN KEY (parent_comment_id) REFERENCES public.comments(id) ON DELETE CASCADE;


--
-- Name: comments comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: downloads downloads_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.downloads
    ADD CONSTRAINT downloads_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: downloads downloads_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.downloads
    ADD CONSTRAINT downloads_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: favorites favorites_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: favorites favorites_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: followers followers_follower_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.followers
    ADD CONSTRAINT followers_follower_id_fkey FOREIGN KEY (follower_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: followers followers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.followers
    ADD CONSTRAINT followers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: model_category model_category_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.model_category
    ADD CONSTRAINT model_category_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE;


--
-- Name: model_category model_category_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.model_category
    ADD CONSTRAINT model_category_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: model_images model_images_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.model_images
    ADD CONSTRAINT model_images_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: model_likes model_likes_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.model_likes
    ADD CONSTRAINT model_likes_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: model_likes model_likes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.model_likes
    ADD CONSTRAINT model_likes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: model_parts model_parts_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.model_parts
    ADD CONSTRAINT model_parts_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: model_tag model_tag_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.model_tag
    ADD CONSTRAINT model_tag_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: model_tag model_tag_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.model_tag
    ADD CONSTRAINT model_tag_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.tags(id) ON DELETE CASCADE;


--
-- Name: models models_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.models
    ADD CONSTRAINT models_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: profiles profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ruben
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: ruben
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

